@font-face {
    font-family: 'icons';
    src: url('fonts/src/icons.eot?3632pc');
    src: url('fonts/src/icons.eot?3632pc#iefix') format('embedded-opentype'),
        url('fonts/src/icons.ttf?3632pc') format('truetype'),
        url('fonts/src/icons.woff?3632pc') format('woff'),
        url('fonts/src/icons.svg?3632pc#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
    content: "\e900";
}

.icon-instagram:before {
    content: "\e901";
}

.icon-facebook:before {
    content: "\e902";
}